head
	title Brett's Express App
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(name="description", content="A project for practicing and learning more about fullstack Javascript")
	meta(name="author", content="Brett Connolly")
	link(rel="stylesheet", type="text/css" href="../css/bootstrap.min.css")
	link(rel="stylesheet", type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800")
	link(rel="stylesheet", type="text/css" href="http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic")
	link(rel="stylesheet", type="text/css" href="../font-awesome/css/font-awesome.min.css")
	link(rel="stylesheet", type="text/css" href="../css/animate.min.css")
	link(rel="stylesheet", type="text/css" href="../css/creative.css")