.rest-container {
	padding-top:55px;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background:rgb(30,30,30);
	color:white;
}
.rest-container h1 {
	text-align:center;
}
.rest-request-button {
	display:inline-block;
	margin-right:30px;
	font-size:20px;
	margin-bottom:30px;
}
.black-text {
	color:#000 !important;
}
#url-parameter {

}