extends ./layout.pug

block content
	include ./_partials/navbar.pug
	link(rel="stylesheet", type="text/css", href="css/daynight.css")
	img(class="wave", id="back-wave", src="http://www.brettdavidconnolly.com/songrize/original/img/wave-back.svg")
	img(class="wave", id="middle-wave", src="http://www.brettdavidconnolly.com/songrize/original/img/wave-middle.svg")
	img(class="wave", id="front-wave", src="http://www.brettdavidconnolly.com/songrize/original/img/wave-front.svg")
	img(class="fish", id="front-fish", src="http://brettdavidconnolly.com/home/img/fish-front.svg")
	img(class="fish", id="middle-fish", src="http://brettdavidconnolly.com/home/img/fish-middle.svg")
	img(class="fish", id="back-fish", src="http://brettdavidconnolly.com/home/img/fish-back.svg")
	img(class="cloud cloud-1", id="cloud-1", src="http://brettdavidconnolly.com/home/img/cloud.svg")
	img(class="cloud cloud-1", id="cloud-1-replace", src="http://brettdavidconnolly.com/home/img/cloud.svg")
	img(class="cloud cloud-2", id="cloud-2", src="http://brettdavidconnolly.com/home/img/cloud.svg")
	img(class="cloud cloud-2", id="cloud-2-replace", src="http://brettdavidconnolly.com/home/img/cloud.svg")
	img(class="cloud cloud-3", id="cloud-3", src="http://brettdavidconnolly.com/home/img/cloud.svg")
	img(class="cloud cloud-3", id="cloud-3-replace", src="http://brettdavidconnolly.com/home/img/cloud.svg")
	img(class="cloud cloud-4", id="cloud-4", src="http://brettdavidconnolly.com/home/img/cloud.svg")
	img(class="cloud cloud-4", id="cloud-4-replace", src="http://brettdavidconnolly.com/home/img/cloud.svg")
	img(class="cloud cloud-5", id="cloud-5", src="http://brettdavidconnolly.com/home/img/cloud.svg")
	img(class="cloud cloud-5", id="cloud-5-replace", src="http://brettdavidconnolly.com/home/img/cloud.svg")
	img(class="cloud cloud-6", id="cloud-6", src="http://brettdavidconnolly.com/home/img/cloud.svg")
	img(class="cloud cloud-6", id="cloud-6-replace", src="http://brettdavidconnolly.com/home/img/cloud.svg")
	img(id="moon", src="http://brettdavidconnolly.com/home/img/moon.svg")
	img(id="sun", src="http://brettdavidconnolly.com/home/img/sun.svg")

	include ./_partials/footer.pug
