extends ./layout.pug

block content
	include ../templates/_partials/navbar.pug
	link(rel="stylesheet", type="text/css" href="../css/rest.css")
	.playlist-container
		h1 REST API
		p Enter in whatever value you would like send to the the REST API end point.  The server will parse your entry to tell you how many numbers, letters and symbols are in it.
		input#rest-input(type="text", name="restInput", placeholder="Enter value to send to REST end point")
		input#rest-submit(type="submit", value="Submit")

	include ../templates/_partials/footer.pug
	script(src="../js/rest/rest.js")